extends ./src/_extends/common

block title 
  title Dashboard

block styles 
  link(rel="stylesheet", href="index.css")

block main 
  .app
    +sidebar

block scripts 
  script(src="./index.js") 
    