.menu {
  flex-direction: column;
  margin-top: 35px;
  margin-left: 8px;
  display: flex;
  gap: 18px;
}
.item {
  position: relative;
  width: 100%;
  max-width: 250px;
  color: var(--c-menu-text-def);
  cursor: pointer;
  transition: $t-normal;
  align-items: center;
  border-radius: 8px;
  padding: 11px;
  display: flex;
  gap: 14px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  &__icon {
    display: flex;
    svg {
      width: 24px;
      aspect-ratio: 1/1;
    }
  }
  &__text {
    letter-spacing: -0.01em;
    line-height: 21px;
    font-weight: 500;
    font-size: 14px;
  }
  &__arrow {
    width: 16px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 8px;
    top: 15px;
  }
}
